@import url(reset.css);
/* -------------------------- */
body {
  background-color: #0d0d11;
  color: #9c9c9c;
  font-family: "Poppins";
  font-weight: 300;
}
/* -------------------------- */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
/* -------------------------- */
[class*="__container"] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0px 15px;
}
/* -------------------------- */
.page {
  flex: 1 1 auto;
}
.page__main {
}
.page__clients {
}
.page__services {
}
.page__why {
}
.page__advantages {
}
.page__testimonial {
}
.page__blog {
}
.page__start {
  margin-bottom: 100px;
}
@media (max-width: 991.98px) {
  .page__start {
    margin-bottom: 50px;
  }
}
/* -------------------------- */
.button {
  display: inline-block;
  text-align: center;
  padding: 16px 30px;
  border-radius: 50px;
  background-color: #3d96f4;
  color: #fff;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  transition: background-color 0.3s ease 0s;
}
.button_dark {
  background-color: rgba(129, 129, 139, 0.2);
}
.button:hover {
  background-color: #0055af;
}
.button_dark:hover {
  background-color: rgba(48, 48, 48, 0.2);
}
@media (max-width: 991.98px) {
  .button {
    padding: 14px 20px;
  }
}
.header-main {
}
.header-main__label {
  display: inline-block;
  border-radius: 12px;
  border: 1px solid rgba(129, 129, 139, 0.2);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9c9c9c;
  padding: 11px 18px;
  transition: border ease 0.3s 0s;
}
.header-main__label:not(:last-child) {
  margin-bottom: 19px;
}
.header-main__label:hover {
  border: 1px solid rgba(129, 129, 139, 0.8);
}
.header-main__title {
  position: relative;
  color: #fff;
  font-size: 51px;
  font-weight: 500;
  line-height: 1.19; /* 120% */
}
.header-main__title:not(:last-child) {
  margin-bottom: 28px;
}
.header-main__text {
  line-height: 1.5;
  color: #9c9c9c;
  font-size: 18px;
}
.header-main__text:not(:last-child) {
  margin-bottom: 33px;
}
.header-main__body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.header-main__body .header-main__actions {
  align-self: flex-end;
  flex: 0 0 auto;
}
.header-main__body .header-main__title {
  max-width: none;
}
.header-main__body .header-main__text {
  max-width: 740px;
}
.header-main__body .header-main__text {
  margin: 0;
}
.header-main__actions {
  display: flex;
  column-gap: 32px;
  row-gap: 15px;
}
.header-main__button {
  align-self: flex-end;
}
.header-main__list {
}
.header-main__list li {
  position: relative;
  min-height: 32px;
  padding-top: 4px;
  padding-left: 40px;
  color: #9c9c9c;
  line-height: 1.5;
}
.header-main__list li:not(:last-child) {
  margin-bottom: 16px;
}
.header-main__list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: rgba(129, 129, 139, 0.1) url(../img/li.svg) center no-repeat;
}
@media (max-width: 991.98px) {
  .header-main__title {
    font-size: 44px;
  }
}
@media (min-width: 768px) {
  .header-main__title {
    max-width: 520px;
  }
  .header-main__text {
    max-width: 500px;
  }
}
@media (max-width: 767.98px) {
  .header-main__title {
    font-size: 32px;
  }
  .header-main__title:not(:last-child) {
    margin-bottom: 15px;
  }
  .header-main__text:not(:last-child) {
    margin-bottom: 15px;
  }
  .header-main__body {
    gap: 0;
    flex-direction: column;
  }
  .header-main__body .header-main__actions {
    align-self: flex-start;
  }
}
@media (max-width: 479.98px) {
  .header-main__actions {
    flex-direction: column;
  }
}
/* -------------------------- */

.text {
  color: #81818b;
  line-height: 1.5;
}
/* -------------------------- */
/* HEADER */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(13, 13, 17, 0.7);
}
.header__container {
  display: flex;
  column-gap: 35px;
  align-items: center;
  min-height: 116px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__logo {
}
.header__menu {
  flex: 1 1 auto;
}
.menu {
}
.menu__icon {
}
.menu__body {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 3px;
  justify-content: flex-end;
}
.menu__item {
}
.menu__link {
  display: block;
  font-size: 16px;
  line-height: 1.62;
  color: #fff;
}
.menu__link:hover {
  text-decoration: underline;
  color: #3d96f4;
}
.header__cart {
}
.cart-header {
  color: #fff;
  align-items: center;
  display: flex;
  gap: 5px;
}
.cart-header:hover .cart-header__text {
  text-decoration: underline;
  color: #3d96f4;
}
.cart-header__text {
  font-size: 18px;
  line-height: 1.55;
}
.cart-header__quantity {
  background: rgba(129, 129, 139, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 14px;
  font-weight: 500;
}
.header__button {
  flex: 0 0 auto;
}
.icon-menu {
  display: none;
}
.header__logo,
.header__cart,
.header__button {
  position: relative;
  z-index: 5;
}

@media (max-width: 991.98px) {
  .header__container,
  .menu__list {
    column-gap: 25px;
  }
  .header__container {
    min-height: 90px;
  }
}
@media (max-width: 767.98px) {
  .header__container,
  .menu__list {
    column-gap: 15px;
  }
  .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all ease 0.3s 0s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    transition: left ease 0.3s 0s;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #000;
    z-index: 2;
    transition: left ease 0.3s 0s;
  }
  .menu__list {
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .menu__link {
    font-size: 32px;
  }
  .header__container {
    min-height: 70px;
  }
}

.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}

@media (max-width: 560px) {
  .header__logo {
    width: 32px;
    flex: 0 0 32px;
    overflow: hidden;
  }
  .cart-header__text {
    display: none;
  }
  .cart-header__quantity {
    width: 33px;
    height: 45px;
    border-radius: 0;
    padding-top: 3px;
    background: url(../img/cart.svg) center / auto 100% no-repeat;
  }
}
/* -------------------------- */
.main {
  padding-top: 160px;
  padding-bottom: 100px;
}
.main__container {
  display: flex;
  gap: 32px;
}
.main__content {
  flex: 0 1 50%;
  align-self: center;
}
.main__header {
  position: relative;
}
.main__header::before {
  content: "";
  background: url("../img/decor.svg") 0 0 / 100% no-repeat;
  width: 122px;
  height: 122px;
  position: absolute;
  top: -10px;
  left: -34px;
}

.main__text {
  color: #9c9c9c;
}
.main__actions {
}
.main__button {
}
.main__images {
  flex: 0 1 50%;
}
.images-main {
  display: flex;
  gap: 9.615385%;
  justify-content: center;
}
.images-main__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.images-main__item {
  overflow: hidden;
}
.images-main__item_1 {
}
.images-main__item_2 {
}
.images-main__item_3 {
}
.images-main__item_4 {
}
.images-main__item img {
  max-width: 100%;
}
@media (max-width: 991.98px) {
  .main {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  .main {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .main__container {
    flex-direction: column;
  }
  .main__content {
    align-self: stretch;
  }
}
/* -------------------------- */
.clients {
  padding-top: 100px;
  padding-bottom: 70px;
}
.clients__container {
}
.clients__title {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57; /* 160% */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 44px;
}
.clients__items {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.clients__item {
}
.clients__item img {
  max-width: 100%;
}
@media (max-width: 991.98px) {
  .clients {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .clients__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .clients {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .clients__title {
    margin-bottom: 20px;
  }
}
/* -------------------------- */
.services {
  padding-top: 70px;
  padding-bottom: 100px;
}
.services__container {
  display: flex;
  gap: 32px;
}
.services__content {
  flex: 0 1 50%;
  align-self: center;
}
.services__header {
}
.services__items {
  flex: 0 1 50%;
  display: flex;
  gap: 32px;
  justify-content: center;
}
.services__column {
}
.services__column:first-child {
  padding-top: 48px;
}
.services__item {
}
.services__item:not(:last-child) {
  margin-bottom: 32px;
}
.item-services {
  border-radius: 30px;
  background-color: rgba(129, 129, 139, 0.1);
  padding: 55px 25px;
  display: block;
}
.item-services__icon {
}
.item-services__icon:not(:last-child) {
  margin-bottom: 16px;
}
.item-services__title {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.42; /* 140% */
}
.item-services__title:not(:last-child) {
  margin-bottom: 10px;
}
.item-services__text {
  color: #81818b;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5; /* 150% */
}
@media (max-width: 1100px) {
  .services__container {
    flex-direction: column;
  }
  .services__header .header-main__title,
  .services__header .header-main__text {
    max-width: none;
  }
}
@media (max-width: 991.98px) {
  .services {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .services {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 620px) {
  .services__items {
    flex-direction: column;
  }
  .services__column:first-child {
    padding-top: 0px;
  }
}
/* -------------------------- */

.why {
  padding-top: 100px;
  padding-bottom: 100px;
}
.why__container {
  display: flex;
  column-gap: 64px;
  row-gap: 32px;
}
.why__images {
  flex: 0 1 50%;
}
.images-why {
  display: flex;
  position: relative;
  align-self: flex-end;
}
.images-why__item {
  overflow: hidden;
}
.images-why__item img {
  max-width: 100%;
}
.images-why__item_1 {
  z-index: 2;
}
.images-why__item_2 {
  align-self: flex-end;
}
.why__content {
  flex: 0 1 50%;
  align-self: center;
}
.why__header {
}
.images-why::before {
  content: "";
  background: url("../img/decor.svg") 0 0 / 100% no-repeat;
  width: 122px;
  height: 122px;
  position: absolute;
  bottom: -10px;
  left: -15px;
}
@media (max-width: 991.98px) {
  .why {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .why {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .why__container {
    flex-direction: column-reverse;
  }
}
/* -------------------------- */
.advantages {
  padding-top: 100px;
  padding-bottom: 100px;
}
.advantages__container {
  display: flex;
  row-gap: 32px;
}
.advantages__items {
  flex: 1 1 auto;
  padding-right: 32px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  display: grid;
  gap: 32px;
}
.advantages__item {
  padding: 40px;
  border-radius: 30px;
  background: rgba(129, 129, 139, 0.1);
}
.advantages__value {
  color: #fff;
  font-size: 51px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
}
.advantages__value:not(:last-child) {
  margin-bottom: 32px;
}
.advantages__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5; /* 150% */
}
.advantages__image {
  align-self: flex-end;
  flex: 0 0 38%;
  overflow: hidden;
}
.advantages__image img {
  max-width: 100%;
}
@media (max-width: 991.98px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages__items {
    padding-right: 0;
  }
  .advantages__container {
    flex-direction: column;
  }
  .advantages__image {
    align-self: center;
  }
}
@media (max-width: 767.98px) {
  .advantages {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 650px) {
  .advantages__items {
    grid-template-columns: auto;
  }
}
/* -------------------------- */
.testimonial {
  padding-top: 100px;
  padding-bottom: 100px;
}
.testimonial__container {
}
.testimonial__content {
}
.testimonials__header {
}
.testimonials__header {
  margin-bottom: 64px;
}
.testimonial__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.testimonial__item {
}
.item-testimonial {
  padding: 64px 40px;
  border-radius: 30px;
  background-color: rgba(129, 129, 139, 0.1);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.item-testimonial__user {
}
.user-testimonial {
  display: flex;
  align-items: center;
  gap: 16px;
}
.user-testimonial__avatar {
  overflow: hidden;
  flex: 0 0 68px;
}
.user-testimonial__avatar img {
  max-width: 100%;
}
.user-testimonial__avatar_1 {
}
.user-testimonial__avatar_2 {
}
.user-testimonial__avatar_3 {
}
.user-testimonial__body {
}
.user-testimonial__title {
  color: #fff;
  line-height: 1.5;
}
.user-testimonial__title:not(:last-child) {
  margin-bottom: 7px;
}
.user-testimonial__company {
  font-size: 14px;
  line-height: 1.57;
}
.item-testimonial__title {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4; /* 140% */
}
.item-testimonial__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5; /* 150% */
  flex: 1 1 auto;
}
.item-testimonial__rating {
}
@media (max-width: 1100px) {
  .testimonial__items {
    grid-template-columns: auto;
  }
}
@media (max-width: 991.98px) {
  .testimonial {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .testimonials__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .testimonial {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .item-testimonial {
    padding: 30px 15px;
  }
}
/* -------------------------- */
.blog {
  padding-top: 100px;
  padding-bottom: 200px;
}
.blog__container {
}
.blog__header {
  margin-bottom: 64px;
}
.blog__items {
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(3, 1fr);
}
.blog__item {
}
.item-blog {
  border-radius: 24px;
  background: rgba(129, 129, 139, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.item-blog__header {
  position: relative;
}
.item-blog__category {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 10px 0px 0px;
  background: rgba(129, 129, 139, 0.5);
  color: #fff;
  font-size: 14px;
  padding: 10px;
  line-height: 1.57;
}
.item-blog__image {
  display: block;
  position: relative;
  padding-bottom: 49%;
}
.item-blog__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.item-blog__body {
  padding: 36px 26px;
}
.item-blog__date {
  color: rgba(129, 129, 139, 0.9);
  line-height: 1.5; /* 150% */
}
.item-blog__date:not(:last-child) {
  margin-bottom: 20px;
}
.item-blog__title {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.42; /* 140% */
}
.item-blog__title:hover {
  text-decoration: underline;
}
.item-blog__title:not(:last-child) {
  margin-bottom: 30px;
}
.item-blog__link-title {
}
.item-blog__text {
}
.item-blog__text:not(:last-child) {
  margin-bottom: 21px;
}
.item-blog__link {
  color: #3d96f4;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57; /* 160% */
}
.item-blog__link:hover {
  text-decoration: underline;
}
@media (max-width: 1100px) {
  .blog__items {
    gap: 20px;
  }
  .item-blog__body {
    padding: 25px 15px;
  }
}
@media (max-width: 991.98px) {
  .blog {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .blog__header {
    margin-bottom: 44px;
  }
}
@media (max-width: 767.98px) {
  .blog {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .blog__header {
    margin-bottom: 25px;
  }
  .blog__items {
    grid-template-columns: auto;
  }
}
/* -------------------------- */
.start {
}
.start__container {
}
.start__body {
  border-radius: 30px;
  background: rgba(129, 129, 139, 0.1);
  display: flex;
  align-items: center;
  padding: 50px 40px;
}
.start__column {
  flex: 0 1 50%;
  text-align: center;
}
.start__title {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4; /* 140% */
}
.start__title:not(:last-child) {
  margin-bottom: 16px;
}
.start__text {
  max-width: 340px;
  display: inline-block;
}
.start__actions {
  display: flex;
  column-gap: 32px;
  row-gap: 20px;
  justify-content: center;
}
.start__button {
}
@media (max-width: 991.98px) {
  .start__body {
    align-items: stretch;
    flex-direction: column;
    row-gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .start__title {
    font-size: 24px;
  }
}
@media (max-width: 479.98px) {
  .start__actions {
    flex-direction: column;
  }
}
/* -------------------------- */
/* -------------------------- */
